body{
  margin-top: -13px;
}

#header{
  width: 1146px;
  height: 68px;
  margin-left: 210px;
  background-color: #FDF1EB;
  padding-left: 38px;
  line-height: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #725C5C;
}
.T1{
  font-size: 14px;
  padding: 2px 0 0 2px;
}
.T2{
  font-size: 22px;
  line-height: 0px;
  margin-top: 0px;
  padding: 2px 0 0 0;
}
.T3{
  font-size: 15px;
  line-height: 5px;
  margin-top: -2px;
}
.email{
  position: absolute;
  top: 25px;
  left: 1100px;
  font-size: 12px;
  font-family: Quicksand;
  color: #333333;
}
.bemvindo{
  font-family: Quicksand;
  position: absolute;
  top: 6px;
  left: 1195px;
  font-size: 14px;
  color: #333333;
  white-space: nowrap;
}
.userimg{
  position: absolute;
  top: 20px;
  left: 1280px;
  border-radius: 15px;
}
#reddot{
  position: absolute;
  top: 18px;
  left: 1303px;
  background-color: #F85959;
  height: 12px;
  width: 12px;
  border-radius: 6px;
}
.dois{
  position: absolute;
  top:-11.5px;
  right:3px;
  font-size: 10px;
  font-family: Roboto;
  font-weight: bold;
  color: #FFFFFF;
}
#boxlingua{
  width: 97px;
  height: 34px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  position: absolute;
  left: 990px;
  top: 17px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;

}
.iconeglobo{
  padding: 4px 0 0 10px;
  width: 22px;
  height: 21px;
}
.iconedrop{
    padding: 0px 0 6.5px 35px;
    width: 6px;
    height: 5px;
}
.lingua{
  font-size: 14px;
  position: absolute;
  top:-6.5px;
  left: 32px;
  color: #333333;
}

#colunaesq{
  position: fixed;
  left:0%;
  right: 0%;
  top:68px;
  height: 800px;
  width: 220px;
  border-right: 0px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
  background-color: #FFFFFF;
}

.imgSlaca{
  height:258px;
  width: 220px;
}
.listaesq li{
   border-bottom: 1px solid gainsboro;
   box-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.25);
   padding-left: 20px;
}
.listaesq{
  width: 220px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size : 15.5px;
  line-height: 35px;
  letter-spacing: -0.5px;
  text-align: left;
  color: #725C5C;
  position: absolute;
  left: -40px;
  top: 238px;
}
.Trabalhos{
  background-color: #FDF1EB;
}
#Faixatrab{
  height: 36px;
  width: 7px;
  background-image: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  position: absolute;
  top: 397px;
}
#SLACA1{
  height: 69px;
  width: 220px;
  background-image: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  position: absolute;
  left:0px;
  top: -68px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.SLACA2{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  align-items: center;
  line-height: 8px;
  color: white;
}

#colunadir{
  position:absolute;
  height: 500px;
  width: 230px;
  left: 1090px;
  margin-top:15px;
}
.como{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #ED7839;
  letter-spacing: 0.05em;
  margin-top: 4px;

}
.detalhescham{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #4E4E4E;
  width: 242px;
  height: 45px;
  background-color: #FDF1EB;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
  margin: -0.5px 0 0 -1px;
  padding: 10px 0 0 12px;
}
#detalhes{
  display: inline-block;;
  width: 242px;
  height: 439px;
  margin: -4px 0 0 -22px;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.02em;
  color:#5C5C5C;
}
#boxdir{
  padding: 2px 8px 3px 13px;
}
.barralateral{
  position:absolute;
  left: 212px;
  top: 120px;
}
.autores{
  padding-top: 7px;
  font-size: 13px;
  font-weight: 350;
}
.autorestext{
  font-size: 14px;
  margin-top: -22px;
  line-height: 140%;
  font-weight: 300;
}
.universidades{
  margin: 45px 0 0 5px;
  font-weight: 300;
  font-size: 12px;
  color:#C0C0C0;
  letter-spacing: 0;
}

#areavideo {
  margin-top: -15px;
  font-family: Roboto;
}
.chamada{
  margin-left: 255px;
  font-size: 22px;
  color: #ED7839;
  white-space: nowrap;
  font-weight: 800;
}
.video{
  position: absolute;
  left:260px;
  height:439px;
  width:783px;
}

#abaixovideo{
  font-family: roboto;
  width: 1050px;
  height: 1000px;

}
.barraresumo{
  width: 1050px;
  height: 45px;
  background-color: #FDF1EB;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
  margin: -0.5px 0 0 -1px;
  padding: 10px 0 0 12px;
  position: absolute;
  top: 615px;
  left: 260px;
  font-size: 20px;
  font-weight: 500;
  color: Black;
  z-index: 2;
  color: #4E4E4E;
}
.resumo{
  font-family: Quicksand;
  position: absolute;
  margin-top: 5px;
  top: 650px;
  width: 1050px;
  left: 259px;
  line-height: 20px;
  font-size: 13px;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  color: #5C5C5C;
  border-radius: 3px 3px 0px 0px;
  text-align:justify;
}
.vermais{
  color: #ED7839;
  font-family: roboto;
  font-weight: bold;
}
.barradiscussao{
  width: 1050px;
  height: 45px;
  background-color: #FDF1EB;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
  margin: -0.5px 0 0 -1px;
  padding: 10px 0 0 12px;
  position: absolute;
  top: 800px;
  left: 260px;
  font-size: 20px;
  font-weight: 500;
  color: #4E4E4E;

}
#boxdiscussao{
  display: flex;
  width: 1050px;
  height: 791px;
  position: absolute;
  top: 844px;
  left: 259px;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 3px;
  font-style: Roboto;
  text-align: center;
}
.enviadosucesso{
  color: #ED7839;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  padding-left: 350px;
}
.agradecemos{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px;
  position: absolute;
  font-weight: 400;
  top: 80px;
  left: 160px;
  color:#595959;
}
.descubraoutros{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 13.5px;
  text-decoration-line: underline;
  position:absolute;
  top: 160px;
  left: 420px;
  text-align: center;
  color: #F48F44;

}
.divisoria{
  position: absolute;
  width: 1027px;
  height: 0px;
  left: 10px;
  top: 250px;
  border: 1px solid #E7E7E7;
}
.topicobut{
  position: absolute;
  top: 250px;
  left: 420px;
  height:32px;
  width: 192px;
  background-image: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
}
.criar{
  color: white;
  position: relative;
  top: -10px;
}

#boxembaçado{
  position: absolute;
  left: 259px;
  top: 1150px;
  width: 1027px;
  height: 148px;
  margin-left: 13px;
  padding: 2px 20px 0 20px;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  filter: blur(2px);
}
.assuntopergemb{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color:#ED7839;
}
.autorpergemb{
  font-family: Quicksand;
  font-style: normal;
  margin-top:-10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #5C5C5C;
}
.perguntaemb{
  font-family: Quicksand;
  margin-top: -6px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #4D4D4D;
}
#embaçado{
  position: absolute;
  left: 259px;
  top: 1150px;
  width: 1027px;
  height: 148px;
  margin-left: 13px;
  padding: 2px 20px 0 20px;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: #DDDDDD;
  z-index: 3;
  opacity: 50%;
}
#sobrepor{
  width: 1027px;
  height: 148px;
  z-index: 4;
  position: absolute;
  left: 259px;
  top: 1150px;
  margin-left: 13px;
  padding: 20px 20px 0 20px;
  text-align: center;
}
.doubcheckblk{
  position: relative;

}
.aguardando{
  position: relative;
}
.editar{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 13.5px;
  text-decoration-line: underline;
  position:relative;
  color: #F48F44;
}
#boxpergunta1{
  position: absolute;
  left: 259px;
  top: 1470px;
  width: 1027px;
  height: 148px;
  margin-left: 13px;
  padding: 2px 20px 0 20px;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.assuntoperg1{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color:#ED7839;
}
.autorperg1{
  font-family: Quicksand;
  font-style: normal;
  margin-top:-10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #5C5C5C;
}
.pergunta1{
  font-family: Quicksand;
  margin-top: -6px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #4D4D4D;
}
.pontomisc1{
  background-color: #ED7839;
  height: 5px;
  width: 5px;
  margin-top: -5px;
  border-radius: 3px;
}
.pontomisc12{
  background-color: #ED7839;
  height: 5px;
  width: 5px;
  margin-top: -13px;
  border-radius: 3px;
}
.boxlike1{
  margin: -36px 0 0 20px;
  height:19px;
  width:27px;
  background: #ED7839;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}
.imglike1{
  position:absolute;
  top:111px;
  left: 47px;
}
.likeresp1{
  display: inline;
  position:relative;
  top: -18px;
  left: 60px;
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #757575;
}

#boxpergunta2{
  position: absolute;
  left: 259px;
  top: 1310px;
  width: 1027px;
  height: 148px;
  margin-left: 13px;
  padding: 2px 20px 0 20px;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.assuntoperg2{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color:#ED7839;
}
.autorperg2{
  font-family: Quicksand;
  font-style: normal;
  margin-top:-10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #5C5C5C;
}
.pergunta2{
  font-family: Quicksand;
  margin-top: -6px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #4D4D4D;
}
.pontomisc2{
  background-color: #ED7839;
  height: 5px;
  width: 5px;
  margin-top: -5px;
  border-radius: 3px;
}
.pontomisc22{
  background-color: #ED7839;
  height: 5px;
  width: 5px;
  margin-top: -13px;
  border-radius: 3px;
}
.boxlike2{
  margin: -36px 0 0 20px;
  height:19px;
  width:27px;
  background: #ED7839;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}
.imglike2{
  position:absolute;
  top:96px;
  left: 47px;
}
.likeresp2{
  display: inline;
  position:relative;
  top: -18px;
  left: 60px;
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #757575;
}

.footer{
  position: absolute;
  top: 1700px;
  left: 240px;
}
